<footer class="footer">
    <div class="footer__logo">
        <img src="/img/stevens_logo.png" alt="stevens-logo" , class="stevens-logo">
    </div>
    <ul class="footer__nav">
        <li>
            <a href="https://github.com/harsh9802/sprint-to-health">Github</a>
        </li>
    </ul>
    <p class="footer__copyright">&copy; 2024 by Team Speedy Sprinters</p>
    <p>Stevens Institute of Technology</p>
</footer>